apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "node-ipam-controller.fullname" . }}
  labels:
    {{- include "node-ipam-controller.labels" . | nindent 4 }}
spec:
  {{- if gt (int .Values.replicaCount) 1 }}
    {{- if not .Values.leaderElection.enabled }}
      {{- fail "You must set leaderElection.enabled to true to use more than 1 replica" }}
    {{- end }}
  replicas: {{ .Values.replicaCount }}
  {{- else }}
  replicas: {{ .Values.replicaCount }}  
  {{- end }}
  selector:
    matchLabels:
      {{- include "node-ipam-controller.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "node-ipam-controller.selectorLabels" . | nindent 8 }}
    spec:
      hostNetwork: true
      serviceAccountName: {{ include "node-ipam-controller.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
         {{- if not .Values.leaderElection.enabled }}
          args:
          - --enable-leader-election=false
         {{- else}}
          args:
         {{- include "node-ipam-controller.leaderElection" . | nindent 12 }}
         {{- end }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}